{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- {{user}} -->
{% if messages %}
{% for i in messages %}
<div class="alert alert-success" role="alert">
    {{ i }}
</div>
{% endfor %}
{% endif %}

<h3>Hello {{user}}</h3>
<h1>Dashboard</h1>
<hr>
<div class="d-flex justify-content-around">
    <a href="{% url 'homepage:addnews'%}"> 
        <button class="btn-btn-outline-dark p-3">
            {{news_count}}
            <p>Total count</p>
        </button>
    
    </a>
    

    <button class="btn-btn-outline-dark">
        {{category_count}}
        <p>Total Category</p>
    </button>
    </div>
{% endblock content %}