{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>This is Homepage</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">News Site</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'homepage:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:about' %}">About us</a>
              </li>

              {%if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:dashboard' %}">dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:logoutpage' %}">Logout</a>
              </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:loginpage' %}">Log in</a>
              </li>
              {%endif%}
            
          


              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                <!-- </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-disabled="true">About us</a>
              </li> -->
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      {% block content %}
      <h1>homepage</h1>
      {% for i in news %}
      <a class="d-flex bg-primary mt-3" href="{% url 'homepage:news_detail' i.id %}">
         {% if i.image %}
          <img src="{{i.image.url}}" alt="" height="100" width="100">
         {% endif %}
      <h1 class="p-2 m-2 text-light">{{i}}
      <br> 
      <span class="badge bg-danger ">{{i.category}}</span>
    </h1>
      </a>
      {% if user.is_authenticated %}
      <a href="{% url 'homepage:deleteNews' i.id%}">
      <button>Delete news</button>
      </a>
      {% endif %}
       <!-- <p>{{i.description}}</p> -->
      {% endfor %}

      <div class="card" style="width: 18rem;">
        <img src=" https://pbs.twimg.com/profile_images/416942818053992448/ybxZ_hlU_400x400.jpeg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Rajesh Hamal</h5>
          <p class="card-text"><p>profession:{{profession}},age:{{age}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="d-flex">
        {% for i in category %}
        <p class="btn btn-danger m-2 p-2">{{i}}</p>
        {% endfor %}
      </div>
      {% endblock content %}
</body>
</html>